<app-navbar></app-navbar>

<style>
  .banner-container {
    background-image: url('assets/images/banner.webp');
    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    /* Centra la imagen */
    max-height: 300px;
    /* Limita la altura del contenedor */
  }
</style>

<div class="row justify-content-center">
  <div class="banner-container col-11">
  </div>
</div>


<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-4 mb-4" *ngFor="let producto of listaProductos.slice(0, 3)">
      <div class="card"
        style="background-image: url('assets/images/{{producto.id}}.webp'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 300px;">
        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.6)">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">{{ producto.descripcion }}</p>
          <ul>
            <li>Precio: {{ producto.precio }}</li>
            <li>Dimensiones: {{ producto.dimensionx }} x {{ producto.dimensiony }}</li>
            <li>Material: {{ producto.material }}</li>
            <li>Relleno: {{ producto.relleno }}</li>
            <li>Low Poly: {{ producto.lowpolly ? 'Sí' : 'No' }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>